--swiftversion 5.9
--exclude .build
--maxwidth 120
--allman false
--disable wrapMultilineStatementBraces
--disable redundantPublic
--funcattributes prev-line
--typeattributes prev-line
--varattributes prev-line
--wraparguments before-first
--wrapparameters before-first
